---
import ChangeList from "./ChangeList.astro";
import type { GVK } from "@lib/kube";
import type { Project } from "@lib/kube";

type Props = {
  project: Project;
  tag: string;
  gvk: GVK;
};

const { project, tag, gvk } = Astro.props;

const previous = project.tags.slice(project.tags.indexOf(tag) + 1);
if (previous.length <= 1) {
  return null;
}
---

<div class="mt-20">
  <div class="divide-y">
    <div>
      <h2 class="text-2xl font-bold leading-10 tracking-tight">
        Change History
      </h2>
      <div>
        {
          previous.map((v) => (
            <ChangeList project={project} tag={v} gvk={gvk} />
          ))
        }
      </div>
    </div>
  </div>
</div>
