---

---

<footer class="border-t">
  <div
    class="px-2 py-4 container items-center justify-between text-center text-xs text-muted-foreground"
  >
    Built by <a
      href="https://x.com/goenning"
      class="text-blue-500 hover:underline">Guilherme Oenning</a
    > &middot; Sponsored by <a
      href="https://aptakube.com"
      class="text-blue-500 hover:underline">Aptakube</a
    >
  </div>
</footer>
