---
import { IconBrandGithub } from "@tabler/icons-react";
---

<a
  href="https://github.com/aptakube/kubespec.dev"
  target="_blank"
  class="text-sm flex items-center rounded-lg p-1.5 hover:bg-accent"
>
  <IconBrandGithub stroke={1.5} className="size-5" />
</a>
