---
import { LATEST_VERSION } from "@lib/swagger";
import GitHubStars from "./GitHubStars.astro";
import { ThemeToggle } from "./ThemeToggle";
import { VersionPicker } from "./VersionPicker";
import { IconBrandGithub, IconDownload } from "@tabler/icons-react";
const { version } = Astro.params;
---

<header class="border-b">
  <div class="flex p-2 container items-center justify-between">
    <a
      href={!version || version === LATEST_VERSION ? "/" : `/v${version}`}
      class="flex items-center gap-2 rounded-lg py-1 px-2 hover:bg-accent"
    >
      <img src="/kubespec.png" alt="Kubespec Logo" class="size-6" />
      <span class="font-title">kubespec.dev</span>
    </a>
    <div class="flex items-center gap-1">
      <a
        href="/download"
        class="leading-none text-sm rounded-lg p-1.5 hover:bg-accent"
      >
        <IconDownload stroke={1.5} className="size-4" />
      </a>

      <VersionPicker client:load version={version ?? LATEST_VERSION} />

      <a
        href="https://github.com/aptakube/kubespec.dev"
        target="_blank"
        class="text-sm flex items-center rounded-lg p-1.5 hover:bg-accent"
      >
        <IconBrandGithub stroke={1.5} className="size-5" />
      </a>

      <ThemeToggle client:load />
    </div>
  </div>
</header>
